@media (min-width: 480px) {
    h1 {
        background-color: purple;
    }
    body {
        background-color: purple;
    }
}

@media (min-width: 768px) {
    h1 {
        background-color: orange;
    }
    body {
        background-color: orange;
    }
}

@media (min-width: 1024px) {
    h1 {
        background-color: black;
    }
    body {
        background-color: black;
    }
}

h1 {
    height: 350px;
    width:100%;
    color: white;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}
